html {
  background: linear-gradient(90deg, #bfb7b7, #e1dcdc, #f8f8f8);
  overflow-y: scroll;

  ::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148))
    );
  }

  .App {
    text-align: center;

    .pick {
      display: block;
      text-decoration: none;
      color: rgb(78, 75, 75);
      text-align: start;
      text-transform: capitalize;
      font-size: larger;
      font-weight: 600;
      padding: 1rem;
      .category {
        vertical-align: super;
        padding-left: 2rem;
      }
      &.active {
        background-color: #2196f3;
        color: #fff;
        &:hover {
          background-color: #2196f3;
        }
      }
      &:hover {
        background-color: #f0f0f0;
      }
    }

    .search-bar {
      position: relative;
      text-align: left;
      width: 100%;
      .search-icon {
        padding: 2px;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .search-field {
        color: #fff;
        width: 50%;
        padding-left: 2.5rem;
        font-weight: 300;
        font-size: x-large;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        background-color: transparent;
        outline: none;
        border: none;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          border: transparent;
        }
      }
      .x-button {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: xx-large;
        vertical-align: top;
      }
    }
    .main-compartiment {
      margin-left: 14rem;
      margin-top: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .no_results {
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
      }
      #card-container {
        padding: 0;
        margin: 0;
        list-style: none;

        .movie-list {
          position: relative;
          color: #fff;
          .MuiImageListItemBar-root {
            background: rgba(0, 0, 0, 0.65);
            .css-dasnyc-MuiImageListItemBar-title {
              line-height: 20px;

              text-align: left;
            }
            .css-dqr9h-MuiRating-label {
              color: orange;
            }
          }
          .bottom-right {
            padding-right: 12px;
            padding-top: 1px;
            .rating {
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}
