.movie-page {
  margin: auto 0;
  width: 100%;
  max-height: fit-content;
  overflow: auto;
  font-size: large;

  .container {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    color: #fff;
    padding-top: 2rem;
    width: 100%;
    height: 100%;

    .inside-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .title_and_rating {
        display: block;
      }

      .group {
        border: 1px solid #000;
        border-radius: 10px;
        width: 80%;
        height: auto;
        display: block;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 2rem 2rem 2rem;

        .img-and-inf {
          display: flex;
          align-content: center;
          .image {
            align-self: center;
          }
          .info {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-self: center;
            position: relative;
            min-width: 0;
            text-align: start;
            .tagline {
              margin-top: 0;
              width: fit-content;
            }
            .about {
              height: auto;
              width: stretch;
              flex-wrap: wrap;
              text-align: justify;
            }
            .cast {
              display: flex;
              flex-wrap: wrap;
              margin-top: 1.5rem;
              .cast-item {
                padding: 0 0.5rem 0.5rem 0;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
              }
            }
            .no-of-seasons {
              margin-top: 1.5rem;
            }
            .seasons {
              margin-top: 0.5rem;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              max-height: 6rem;
              overflow-y: auto;
              display: flex;
              .popover-button {
                background-color: rgba(233, 221, 221, 0.2);
                color: #fff;
                cursor: pointer;
                border-radius: 2rem;
                margin-right: 1rem;
                width: fit-content;
                font-size: x-small;
                flex: none;
                &:hover {
                  background-color: rgba(212, 191, 191, 0.35);
                }
              }
            }
          }
        }
      }
      .details {
        margin-top: 1rem;
        display: flex;
        text-align: start;
        .genres .duration {
          padding-top: 1rem;
          display: inline-flex;
        }
        .genres {
          margin-right: 2rem;
          padding-top: 2px;
          .genre {
            color: #fff;
            margin-right: 0.5rem;
            align-self: flex-start;
          }
        }
        .duration {
          align-self: center;
          display: inline-flex;
          align-items: center;
          margin-right: 2rem;
        }
        .duration > .strong .release_and_duration {
          vertical-align: super;
        }
        .strong {
          margin-right: 1rem;
        }
        .release_and_duration {
          display: inline-flex;
          margin: 0;
        }
      }
      .movie_button {
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        width: fit-content;
        border-radius: 1rem;
        align-self: center;
        margin-top: 1rem;
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
          transform: scale(1.2);
        }
        .link {
          width: fit-content;
          color: #fff;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}
